html{
  font-size:20px;
  overflow-x: hidden;
  --top-spacing: 40px;
  scroll-padding-top: var(--top-spacing);
}

body {
  margin: var(--top-spacing) auto;
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(2, 53, 87, 0.9);
}